<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Air_Ticket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>AirPageController</servlet-name>
    <servlet-class>air.page.controller.AirPageController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AirPageController</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NationController</servlet-name>
    <servlet-class>air.nation.Controller.Nationcontroller</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>NationController</servlet-name>
    <url-pattern>*.na</url-pattern>
  </servlet-mapping>
  
    <servlet>
	    <servlet-name>MemberController</servlet-name>
	    <servlet-class>air.member.controller.MemberController</servlet-class>
 	 </servlet>
  
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  
    <servlet>
	    <servlet-name>OptionController</servlet-name>
	    <servlet-class>air.option.controller.OptionController</servlet-class>
 	 </servlet>
  
	  <servlet-mapping>
	    <servlet-name>OptionController</servlet-name>
	    <url-pattern>*.op</url-pattern>
	  </servlet-mapping>  
	  
	  
    <servlet>
  	  <servlet-name>CheckingReservationController</servlet-name>
  	  <servlet-class>air.booking.controller.CheckingReservationController</servlet-class>
 	 </servlet>
  
 	 <servlet-mapping>
  		 <servlet-name>CheckingReservationController</servlet-name>
 		  <url-pattern>*.cK</url-pattern>
 	 </servlet-mapping>
  
  
</web-app>