@CHARSET "UTF-8";



.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area{
	/* padding-left:190px; */
	min-height:450px;
	}
.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .seat_section_selected li{
	float: left;	
	
	margin-right: 80px;
}
.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .seat_section_selected li .active {
	font-weight: bold;
}	
.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .seat_section_selected li .planeName{
	float: right;	
	font-weight:bold;
	margin-right: 80px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerTop{
	width: 668px;
	height: 17px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents{
	width: 730px;
	height: 420px;
/* 	border: 1px solid; */
	margin-left: -30px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerSeatView{
	margin-top: 10px;
	width: 510px;
	min-height: 600px;
	overflow-y:scroll;
	border: 1px solid;
	float: left;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView{
	margin-top: 10px;
	width: 195px;
	min-height: 420px;
/* 	border: 1px solid; */
	float:right;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatPriceList{
	margin-top: 20px;
	padding-left: 5px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatPriceList .seats{
	margin-bottom: 10px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatPriceList .pricetag{
float: right;
margin-right: 10px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatPriceList .pricetag .title{
    display: block;
    font-size: 13px;
    line-height: 1.4rem;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatSelectedView{
	width: 195px;

/* 	border: 1px solid; */

}  
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatSelectedView .seatListSpan{
	margin-top: 15px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatSelectedView .seatListSpan .active{
	color:pink;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatSelectedView .In_LayerSelectedSeatList{
	margin-top: 10px;
	min-height: 100px;
	overflow-y: scroll;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatSelectedView .In_LayerSelectedSeatList .seatNum{
	/*	좌석 선택 번호	*/
	margin-left:30px;
	margin-right: 30px;
}	
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatSelectedView .In_LayerSelectedSeatList .seatPrice{
	/*	좌석 개당 가격	*/
	margin-left: 10px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatSelectedView .SeatTotalPrice{
	margin-top: 5px;
	height: 40px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatSelectedView .SeatTotalPrice .unit{
	color : #e21b72;
	margin-left: 30px;
	margin-top:2px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerPriceView .In_LayerSeatSelectedView .SeatTotalPrice .totalSeatPrice{
	font-weight: bold;
	font-size: 18px;
	float: right;
	margin-right: 30px;
}
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerSeatView .seat-top{
	background: url("../../images/booking/bg_seat_top01.png?1483319128") no-repeat 50% -250px;
    padding-bottom: 10px;
    width: 500px;

    margin: 0 auto;
}

/*	좌석 선택 top section	*/

.seat-top .seat-section{
	line-height: 1.5;
}
.seat-top .seat-section .restroom .list01{
	padding-top: 24px;
}
.seat-top .seat-section .restroom .list01 .left-content{
	padding:20px 0;
}
.seat-top .seat-section .restroom .list01 .right-content{
	padding:20px 0;
}
.seat-top .seat-section .restroom{
	width: 210px;
	margin : 0 auto 0;
	display : block;
	overflow : hidden;
}
.seat-top .seat-section .restroom .left-content{
	float:left;
	text-align : center;
	width: 89px;
}
.seat-top .seat-section .restroom .right-content{
	float:right;
	text-align : center;
	width: 89px;
}
.seat-top .seat-section .entrance{
	overflow : hidden;
	margin-top: 13px;
	height: 36px;
}
.seat-top .seat-section .entrance .left-content{
	position: relative;
    float: left;
    text-align: right;
    width: 50%;
    padding-right: 18px;
    right: 125px;
    margin-top: 7px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    color: #e21b72;
}
.seat-top .seat-section .entrance .right-content{
	position: relative;
    float: right;
    text-align: left;
    width: 50%;
    padding-right: 18px;
    left: 125px;
    margin-top: 7px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    color: #e21b72;
}
/*	좌석 선택 중간 부분	*/
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerSeatView .seat-middle{
    background: url("../../images/booking/bg_seat_middle01.png?1483319128") repeat-y 50% 0;
    width: 500px;
    margin: 0 auto;
}
.seat-middle .seat-table{
	width:206px;
	text-align: center;
	margin : 0 auto;
}

.seat-middle .seat-table thead th {
	color : #ffffff;
	font-size: 16px;
}
.seat-middle .seat-table .tbl-hallway {
	text-align: center;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.seat-middle .seat-table tbody td {
	text-align: left;
    padding-top: 9px;
    background: url("../../images/booking/bg_seat02.jpg?1483319128") no-repeat 0 13px;
    padding-left: 3px;
    vertical-align: top;
}
.seat-middle .seat-table tbody td button{
	vertical-align: top;
	display : block;
}

.seat-middle .seat-table .front{
	background: url("../../images/booking/seat0_enter_seat.PNG"); 	
}
.seat-middle .seat-table .front span{
 
	position: relative;
    display: block;
    width: 26px;
    height: 30px;
    overflow: hidden;
/*     background-color: #24c6a9; */
    text-indent: -1000px;
}
.seat-middle .seat-table .Normal {
	 background-color: #c6e4c8;
}
.seat-middle .seat-table .Normal span{
    display: block;
    width: 26px;
    height: 30px;
    overflow: hidden;
    text-indent: -1000px;
}

.seat-middle .seat-table .emergency {
	 background: url("../../images/booking/seat0_enter_seat.PNG"); 
}
.seat-middle .seat-table .emergency span{
	position: relative;
    display: block;
    width: 26px;
    height: 30px;
    overflow: hidden;
/*     background-color: #24c6a9; */
    text-indent: -1000px;
}
.seat-middle .seat-table .choice{
	background: url("../../images/booking/seat1_Iselected_seat.PNG"); 
}
.seat-middle .seat-table .Y{
	background: url("../../images/booking/seat3_paid_seat.PNG"); 
	cursor: not-allowed;	
}
/*	좌석 선택 하단부	*/
.booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-seat-area .In_LayerContents .In_LayerSeatView .seat-bottom{
	background: #efefef url("../../images/booking/bg_seat_bottom01.png?1483319128") no-repeat 50% 0;
    padding-bottom: 80px;
    width: 500px;
    margin: 0 auto;
}
.seat-bottom .seat-section{
	line-height: 1.5;
}
.seat-botton .seat-section .restroom .list03{
	padding-top: 9px;
}
.seat-bottom .seat-section .restroom .list03 .left-content{
	padding:22px 0;
}
.seat-bottom .seat-section .restroom .list03 .right-content{
	padding:22px 0;
}
.seat-bottom .seat-section .emergency-exit .list03{
	margin-top : 17px;
}
.seat-bottom .seat-section .emergency-exit .list03 .left-content{
	top: 10px;
	padding-right: 125px;
}

.seat-bottom .seat-section .emergency-exit {
	position: relative;
	height: 16px;
}
.seat-bottom .seat-section .restroom{
	width: 210px;
	margin : 0 auto 0;
	display : block;
	overflow : hidden;
}
.seat-bottom .seat-section .restroom .left-content{
	float:left;
	text-align : center;
	width: 89px;
}


.seat-bottom .seat-section .emergency-exit .left-content{
	position: absolute;
   	top : 0;
	left: 0;
	text-align: right;
	width: 50%;
	padding-right: 145px;
	box-sizing:borer-box;
	font-size :14px;
	color : #000;
}
.seat-bottom .seat-section .emergency-exit .right-content{
	position: absolute;
   	top : 0;
	right: 0;
	text-align: left;
	width: 50%;
	padding-left: 145px;
	box-sizing:borer-box;
	font-size :14px;
	color : #000;
}

/* .booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-area .b-tit{
	margin-top:8px;
	font-size:18px;color:#000;font-weight:normal
	}
.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-area .info{
	margin-top:11px;
	margin-bottom:26px;
	font-size:13px;
	color:#000;
	line-height:22px
	}
.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-area .journey-tbl{
	display:inline-block;
	width:100%;
	position:relative;
	padding-top:8px;
	min-height:40px;
	padding-bottom:6px
	}
.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-area .journey-tbl:before{
	position:absolute;
	top:0;
	left:0;
	width:12px;
	height:1px;
	background-color:#000
	}
.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-area .journey-tbl .journey-title{
	float:left;
	height:43px;
	font-size:15px;
	text-align:left;
	line-height:20px;
	font-weight:normal
	}
.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-area .journey-tbl .journey-seat{
	overflow:hidden;
	padding-left:10px;
	font-size:15px;
	text-align:left;
	line-height:20px
	}
.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list .contents-area .journey-tbl .journey-message{
	overflow:hidden;
	padding-left:10px;
	text-align:left;
	line-height:20px
	}
.booking-wrap .booking-extraservice .booking-extraservice-area .booking-extraservice-list:first-child{
	margin-top:0
	}
 */